$color-main: #2ec4b6;
$color-main-medium: #86ded6;
$color-main-light: #cbf3f0;

$color-akcent: #ff9f1c;
$color-akcent-light: #fac785;

$color-primary: #433d88;

// CSS -- obecné třídy

html {
    box-sizing: border-box;
}

*,
:after,
:before {
    box-sizing: inherit;
}

::selection { /* začerněný text */
    background-color: $color-akcent-light;
    color: $color-primary;
}

body {
    font-family: "Cairo", sans-serif;
    line-height: 1.4;
    color: $color-primary; 
    font-size: 18px;
    margin: 0 0;
}

h1 {
    font-size: 3rem;
    font-weight: 400;
    line-height: 1.1;
}

h2 {font-size: 2.3rem;}

.text-center {text-align:center;}

a {
   // &:link {text-decoration: none;}

   &:focus,
   &:hover {background-color: $color-main-light;}
}


// grid pro všechny prvky
.grid--six {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}



header {

    @media screen and (min-width: 550px) {
            border-bottom: 5px solid $color-akcent-light;
        }
    
    
}

.header {
    grid-template-areas:
        "logo logo logo logo logo logo"
        "menu menu menu menu menu menu"
        "hero hero hero hero hero hero";
 
    @media screen and (min-width: 550px) {
        grid-template-areas: 
        "logo logo menu menu menu menu"
        "hero hero hero hero hero hero";                          
    }
}

.logo {
    grid-area: logo;
    justify-self: center;

    @media screen and (min-width: 800px) {
            justify-self: start;
            align-self:center;
        }
}
.logo__link:hover {background: none;}
.logo img {
    height: 40px;
    margin: 10px 0;
}

.menu {
    grid-area: menu;
    border-bottom: 5px solid $color-akcent-light;
    
    @media screen and (min-width: 550px) {
        justify-self: right;
        align-self: center;
        border-bottom: none;
    }
        
&__list {
        list-style: none;
        padding: 0 0;
        margin: 8px 0;
        display: flex;
    }

    &__item {
       flex: 1 0 calc(100%/4);
       text-align:center;
    }

    &__link {
        display: block;
        font-weight: bold;
        text-decoration: none;
        color: $color-primary;
        padding: 6px 9px;
        border: 1px solid transparent;
        border-bottom: 3px solid transparent;

        @media screen and (min-width: 700px) {
            padding: 5px 20px;
            font-size: 1.3rem;        
            }
    }

    &__link:hover,
    &__link:focus {
        border-radius: 7px;
        border-color: $color-main;
        background-color: white;
    }

    &__link:active {
        background-color: $color-main-light;
    }
}

.hero {
    grid-area: hero;
    grid-template-areas:
        "image image image image image image"
        "text text text text text text";
    border-bottom: 5px solid $color-akcent-light;
    
        @media screen and (min-width: 550px) {
                border-bottom: none;
            }
        @media screen and (min-width: 800px) {
                grid-template-areas:
                    "text text text image image image";
            }

    &__text {
        grid-area: text;
        padding-bottom: 20px;
       align-self:center;
    }
    
    &__h1 {margin: 10px 0 20px;}
    
    &__name{
        margin-bottom:0;
        font-size: 1.5rem;
        font-weight:700;
        margin-top:15px;

        @media screen and (min-width: 800px) {
            display: none;
        }
    }

    &__h2 {
        font-size: 1.5rem;
        margin-bottom: 30px;
    }

    &__image {
        grid-area: image;
        padding: 4% 6% 1% 6%;
        justify-self:center;
            
            @media screen and (min-width: 800px) {
                justify-self: end;
                align-self: center;
                padding: 0;
            }
         } 
}

.image--cover {
    object-fit:cover;
    max-width: 100%;
    height: auto;
}
 

// Main
.container {
    margin: 0 auto;
    padding: 10px 20px;

    @media screen and (min-width: 900px) {
        max-width: 1100px;
    } 
}

section {padding: 20px 0 30px 0;}

.tile {
    gap: 22px;
    padding: 20px 0;

    &__item {
        grid-column: span 6;
        padding: 30px;
        border: 2px solid $color-main;
        border-bottom: 4px solid $color-main;
        border-radius: 10px;
        text-align:center;

        @media screen and (min-width: 520px) {
            grid-column: span 3;
            }
        @media screen and (min-width: 800px) {
             grid-column: span 2; 
        }
    }

    &__item-icon img{
        width:80px;
        height:auto;
    }

    &__item--title {
        color: $color-primary;
        font-size: 1.5rem;
        margin-top:10px;
        margin-bottom:35px;
    }

    &__link {text-decoration: none;}
}


.services {
    gap: 22px;

    &__item {
        grid-column: span 6;
        padding: 30px;
        border: 2px solid $color-akcent;
        border-bottom: 4px solid $color-akcent;
        border-radius: 10px;

        @media screen and (min-width: 520px) {
            grid-column: span 3;
        }
    }

    &__title {
        color: $color-primary;
        font-size: 1.5rem;
        margin-top: 10px;
    }
}




.list {
    padding: 25px 10px 25px 25px;
    grid-column: span 6;

    @media screen and (min-width: 500px) {
            padding: 50px 30px 50px 50px;
        }

    &__title {
    font-size: 2.8rem;
    font-weight: 700; 
    margin-top: 0;
    grid-column: span 4;

        @media screen and (min-width: 790px) {
        grid-column: span 2;
        }
    }

    &__h4 {
        margin: 0 0;
        font-size: 1.3rem;
    }

    &__main {
        grid-column: span 6;

        @media screen and (min-width: 790px) {
            grid-column: span 4;
         }
    }

    &__item {
        border-left: 2px dotted $color-akcent-light;
        padding: 0 0 30px 45px;
        position: relative;
        left: 10px;
    
    }

     &__item:last-child {
        border-left: 0;
    }
    
    &__item::before {
        position: absolute;
        left: -18px;
        top: 2px;
        content: "";
        font-weight: 700;
        color: #ffffff;
        border-radius: 50%;
        background: $color-primary;
        height: 35px;
        width: 36px;
        text-align: center;
        padding-top: 4px;
        transition: all 500ms ease-in-out;
    }

    &__item--chack::before {
        content: "✓";
    }

    &__item--no:nth-child(1):before {
        content: "1";
        padding-right: 3px;
    }
    &__item--no:nth-child(2):before {
        content: "2";
    }
     &__item--no:nth-child(3):before {
        content: "3";
     }
     &__item--no:nth-child(4):before {
        content: "4";
    }
    &__item--no:nth-child(5):before {
        content: "5";
    }

    &__item:hover::before {
        background: $color-akcent;
        transition: all 1000ms ease-in-out;
    }
}

h1 + .list {
    padding: 0px 10px 25px 25px;

    @media screen and (min-width: 500px) {
        padding: 0px 30px 30px 50px;
    }
}


.price-list {
    text-align:center;
    

    &__table {
        margin: 40px auto 20px;
        border: 2px solid $color-main;
       // border-collapse: collapse;
        border-radius: 15px;

    }

    &__table td {
        border: 2px solid $color-main-light;
        padding: 15px 25px; 
    }

    h2 {margin-top: 0;}

}
.contact-banner {
    background: rgb(85, 216, 208);
    background: radial-gradient(circle, rgba(85, 216, 208, 1) 0%, rgba(37, 174, 161, 1) 100%);
    border-radius: 20px;
    padding: 20px 20px 40px 20px;
    text-align: center;
    font-weight: 600;
    color:#ffffff;
}

.p--big {
    font-size: 2.5rem; 
    margin: 25px 0;
    line-height: 1.4;
}

.p--small {
    font-size: 0.9rem;
}

.btn { 
    padding: 5px 20px;
    font-size: 1rem;
    font-weight: 550;
    border-radius: 10px;
    color:#ffffff;
    background-color: $color-akcent;
    border: 1px solid transparent;
    text-decoration: none;
    letter-spacing: 0.2px;
}

.btn:hover,
.btn:focus {
    background-color: $color-main-light;
    color: $color-primary;
    transition: all 500ms ease-in-out;
}

.btn--drab {
    background-color: $color-main-light;
    color: $color-primary;}

.btn--drab:hover,
.btn--drab:focus {
    background-color: $color-akcent;
    color: white;
    transition: all 500ms ease-in-out;
}

.btn--big {
    padding: 9px 22px;

}

button {cursor :pointer;}

form {
    width: 100%;
    max-width: 550px;
    margin: 50px auto 20px;
}

.form {
    &__wrap {text-align: center;
        margin: 0 auto;
        padding: 30px;
        border: 2px solid $color-main;
        border-bottom: 4px solid $color-main;
        border-radius: 10px;

      
    }

    &__title {margin:0;}


    &__field {
        margin-bottom: 15px;
        text-align:left;
        

        @media screen and (min-width: 700px) {
                display: flex;
            }
        
    }

    &__field > label {
        flex: 0 0 130px;
        font-weight: 700;
        display: block;

        @media screen and (min-width: 700px) {
                display: inherit;
            }
    }


    &__field input {
        width: 100%;
        height: 2rem;

        @media screen and (min-width: 700px) {
            flex: 1 1 100%; 
        width: auto;}
    }

    &__field textarea {
        width: 100%;
        height: 60px;}

    &__check {
        display:flex;
    flex-wrap: wrap;}

    &__field--check-title {
        margin-bottom: 10px;
    }

    &__field--checkbox {
        flex: 1 0 100%;
        font-size: 1rem;
        margin-bottom: 12px;

        @media screen and (min-width: 700px) {
                flex: 1 0 50%;
                font-size: 0.995rem;
                margin-bottom: 22px;
            }
    }
}

input[type=checkbox] {
    width: 22px;
    height: 22px;
}

.grid--four {
    display: grid;
    grid-template-columns: 1fr;

    @media screen and (min-width: 500px) {
        grid-template-columns: 1fr 1fr;
    }

    @media screen and (min-width: 850px) {
        grid-template-columns: 1fr 1fr 1fr;
    }

}

.contact {
    gap: 15px 25px;
    grid-template-areas:
    "name"
    "contact"
    "office"
    ;


    @media screen and (min-width: 500px) {
            grid-template-areas:
            "name name"
            "contact office";
            
        }

    @media screen and (min-width: 850px) {
            grid-template-areas:
                "name contact office";
        }

    &__title {
            grid-area: name;
            display: flex;
        }

    &__name {
        font-size: 3rem;
        line-height: 1.2;
        font-weight: 700;
        margin: 15px 0;
    }

    &__item {
        grid-area: contact;
    }

        &__office {grid-area:office;
    
    }

          &__photo {
              padding-top: 15px;
              padding-right: 15px;
          }
    
          &__img {
              width: 100%;
              max-width: 120px;
              margin: 0 auto;
              border-radius: 50%;
          }
}

  /*  
    &__item:first-child {
        grid-column: span 2;
        grid-row: span 2;

        @media screen and (min-width: 700px) {
                grid-column: 2/4;
                align-self: center;
                justify-self: end;
                padding-right: 20px;
            }

    }

    &__item {
            grid-column: span 4;

            @media screen and (min-width: 700px) {
                grid-column: 4/6;
                align-self: center;
                }
        } */

  

.blog {
    gap: 22px;
    margin-bottom: 15px;

    &__text {
        grid-column: span 6;
        

        @media screen and (min-width: 700px) {
                grid-column: span 4;
            }
    }



    &__title {margin: 30px 0 0 0;}

    &__images {grid-column: span 6;

        @media screen and (min-width: 460px) {
            grid-column: span 2;
            display: flex;
        }

        @media screen and (min-width: 700px) {
            grid-column: span 2;
            display: block;
        }
    
    }

    &__img {
        max-width: 100%;
        padding: 5% 1% 5% 10%;
    }

    &__back {margin: 50px 0 30px 0;}



}



// footer

footer {
    
    @media screen and (min-width: 620px) {
        display: flex;
        justify-content: space-between;}
}











